# Data Science Tools and Ecosystem

In this notebook, we summarize some of the essential tools, languages, and libraries used by data scientists.

## Commonly used Data Science Languages:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Commonly used Data Science Libraries:

1. NumPy  
2. Pandas  
3. Scikit-learn  
4. TensorFlow  
5. ggplot2

## Popular Data Science Tools

| Tool Name     | Category             |
|---------------|----------------------|
| JupyterLab    | Notebook Environment |
| RStudio       | IDE                  |
| Apache Spark  | Big Data Processing  |
| TensorFlow    | Deep Learning        |
| KNIME         | Data Analytics       |

## Examples of evaluating arithmetic expressions in Python:

In [1]:
# This will multiply 5 by 4 and then add 3
(5 * 4) + 3

23

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives:

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create tables using markdown  
- Perform arithmetic operations using code cells  
- Share notebook via GitHub

**Author:** Md Asif Khan